$blue: #9fbfbf; // #708c87
$margin: 5%;
// $cream: #F2EFEB;
// $cream2: $cream - 100;

body {
  background: #262626;
  font-family: helvetica, ariel, sans-serif;
}
header {
  margin: 20px 0 0 $margin;
}
p {
  margin: 20px $margin;
}
h1 {
  color: $blue;
}
h2 {
  color: $blue;
  margin: 10px $margin + 5%;
}
a {
  color: $blue;
}

.grad {
  padding: 1%;
  background-color: #f2efeb;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f2efeb),
    to(#ffffff)
  );
  background-image: -webkit-linear-gradient(top, #f2efeb, #ffffff);
  background-image: -moz-linear-gradient(top, #f2efeb, #ffffff);
  background-image: -ms-linear-gradient(top, #f2efeb, #ffffff);
  background-image: -o-linear-gradient(top, #f2efeb, #ffffff);
}
